[[source]]
name = "pypi"
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = ">=0.10"
jinja2 = ">=2.7"
chardet = ">=2.2"
cssselect = ">=0.9"
lxml = "*"
pycurl = "*"
pyquery = "*"
requests = ">=2.2"
tornado = "==4.5.3"
mysql-connector-python = ">=1.2.2"
pika = ">=0.9.14"
pymongo = ">=2.7.2"
unittest2 = ">=0.5.1"
flask-login = ">=0.2.11"
u-msgpack-python = ">=1.6"
click = ">=3.3"
sqlalchemy = ">=0.9.7"
six = ">=1.5.0"
amqp = ">2.0"
redis = "*"
redis-py-cluster = "*"
kombu = "*"
psycopg2 = "*"
elasticsearch = "*"
tblib = "*"

[requires]
python_version = "3.7"
